body, html { 
    background-color: #111111;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.title {
  padding: 8px;
  font-size: 42px;
  font-family: 'Monoton', cursive;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 80px red, 0 0 30px firebrick, 0 0 6px darkred;
  color: red;
  transform: rotate(346deg);
}
.title p { 
    margin:0; 
}

.points {
  color: red;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Monoton', cursive;
  margin-left: 3rem;
  margin-right: 3rem;
}

.mobile-controls {
  display: flex;
  color: red;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5em;
}

.snake-title:hover { 
    text-shadow: 0 0 200px #ffffff,0 0 80px #008000,0 0 6px #0000ff; 
}
.game-title:hover { 
    text-shadow: 0 0 100px red,0 0 40px FireBrick,0 0 8px DarkRed; 
}
.snake-title {
  color: #fff;
  text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
}
.snake-title span {
  animation: upper 11s linear infinite;
}
.game-title span:nth-of-type(2) {
  animation: lower 10s linear infinite;
}
.game-title span:nth-of-type(1) {
  text-shadow: none;
  opacity:.4;
}

.board {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.board-canvas {
  border: 3px solid red;
} 

.snake {
  width: 1rem;
  height: 1rem;
  background: red;
}

@keyframes upper {
  0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
    opacity:.99; text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
  }
  20%,21.999%,63%,63.999%,65%,69.999% {
    opacity:0.4; text-shadow: none; 
  }
}
@keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:0.99; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
    opacity:0.4; text-shadow: none; 
  }
}

@font-face {
  font-family: 'Monoton';
  src: url('../fonts/Monoton-Regular.ttf') format('truetype');
}